.container{
    max-width: 1097px;
    background-color: #181818;
    margin: auto;
}
body{
    margin: 0;
    background-color: #181818;
    font-family: 'Graphik';
    color:white;
}
.navbar{
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
}
.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 390px;
}
.menu_link{
    text-decoration: none;
    color: white;
    font-family: 'Graphik';
    font-weight: 500;
    font-size: 16px;
}
.nav_login{
    display: block;
    width: 139px;
    height: 52px;
    border: 1px solid white;
    text-decoration:none ;
    color: white;
    font-family: 'Graphik';
    line-height: 52px;
    text-align: center;
    transition: all 0.3s;
}
.nav_login:hover{
    background-color: #FFFFFF;
    color: #181818;
    scale: 1.1;
    box-shadow: 38px 36px 22px -12px rgba(233, 233, 233, 0.5);
}
.mobile_button{
    display: none;
    margin-left: 25px;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
@media (max-width:830px){
    .nav_items{
        display: none;
    }
    .mobile_button{
        display: inline-block;
    }
} 
@media (max-width:470px){
    .nav_logo{
        display: block;
        width: 120px;
    }
}

/*slogan*/
.slogancontainer{
    display: flex;
    flex-direction: column;
}
.slogan_h1{
    font-weight: 700;
    font-size: 80px;
    text-align: center;
}
.slogan_slogan_p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    max-width: 580px;
    margin: auto;
}
.slogan_btns{
    display: flex;
    margin-top: 95px;
    justify-content: center;
}
.slogan_btn{
    display: block;
    margin-right: 35px;
    width: 178px;
    color: #fff;
    text-decoration: none;
    height: 65px;
    background: #4452FE;
    text-align: center;
    line-height: 65px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    transition: 0.3s;
}
.slogan_btn:hover{
    background-color: #2638ff;
    color: #e0e0e0;
    scale: 1.1;
    box-shadow: 38px 36px 22px -12px rgba(233, 233, 233, 0.5);
}
.slogan_btn_one{
    display: block;
    width: 178px;
    color: #fff;
    text-decoration: none;
    height: 65px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    line-height: 65px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    transition: 0.3s;
}
.slogan_btn_one:hover{
    background-color: #FFFFFF;
    color: #181818;
    scale: 1.1;
    box-shadow: 38px 36px 22px -12px rgba(233, 233, 233, 0.5);
}
@media (max-width:830px){
    .slogan_btns{
        display:block;
        margin: auto;
        margin-top: 67px;
    }
    .slogan_btn{
        margin-right: 0px;
        margin-bottom: 21px;
    }
}
/*windows*/
.rotatedwindows > img{
    display: block;
    width: 100%;
    margin-top: 50px;
}
/*standartblock settings*/
.standart_h1{
    text-align: center;
    font-size: 52px;
    font-weight: 500;
    text-align: center;

}
.standart_p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    max-width: 580px;
    margin: auto;
    margin-bottom: 44px;
}
/*contents*/
.contents_blocks{
    margin: auto;
    max-width: 985px;
    display: flex;
    padding: 40px 0px 0px 0px;
    justify-content: space-between;
    color: black;
}
.contents_block{
    background-color: #FFFFFF;
    /* width: 476px; */
    height: 624.52px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    transition: all 1s;
}
.contents_block:hover{
    scale: 1.1;
}
.contents_p{
    color:#5C5C5C;
    
    max-width: 268px;
    text-align: center;
    margin: auto;
}
.contents_p_s{
    color:#5C5C5C;
    text-align: center;
    margin: auto;

    max-width: 268px;

}
.contents_h2{
    text-align: center;
}
.center_block{
    margin: auto;
}
.contents_img{
    display: block;
    padding: 30px 20px 40px 20px;
}
.contents_img_second{
    display: block;
    padding: 30px 20px 40px 20px;
}
@media (max-width:960px){
    .contents_blocks{
        display: block;
        margin: auto;
    }
    .contents_block{
        margin: auto;
        margin-bottom: 33px;
        max-width: 1000px;
    }
}
/*galley*/
.gallery_photos{
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    min-height: 614px;
    margin-bottom: 15px;
}
.gallery_photos > img{
    border-radius: 15px;
}
@media (max-width:375px){
    .gallery_photos>img{
        display: block;
        max-width: 59%;
        margin-bottom: 33px;
    }
    .gallery_photos>img:last-child{
        display: block;
        max-width: 59%;
        margin-bottom: 0px;
    }
}
@media (max-width:1040px){
    .gallery_photos{
        display: block;
    }
    .gallery_photos>img{
        display: block;
        margin: auto;
        margin-bottom: 22px;
    }
    .gallery_photos>img:last-child{
        margin-bottom: 0;
    }
}
/*footer*/
.footer{
    font-family: 'Graphik';
    color: #fff;
    padding: 107px 0 107px 0;
    display: flex;
    justify-content: space-between;
}
.footer_items{
    display: flex;
}
.footer_item{
    margin-right: 9%;
}
.footer_title{
    margin: 0;
    margin-bottom: 40px;
}
.footer_text{
    list-style: none;
    padding: 0px;
}
.footer_text>li{
    margin-bottom: 19px;
}
.adress:before{
    content: '';
    display: inline-block;
    width: 46px;
    height: 47px;
    transform: translateY(30%);
    background-image: url('../img/footer/location.png');
}
.tele:before{
    content: '';
    display: inline-block;
    width: 35px;
    height: 36px;
    transform: translateY(30%);
    background-image: url('../img/footer/phone.png');
}
.social_things{
    max-width: 170px;
    display: flex;
    justify-content: space-around;
} 
@media (max-width:730px){
    .footer{
        display: block;
        margin-left: 20px;
    }
    .footer_items{
        display: block;
    }
}