.container{
    max-width: 1000px;
    background-color: #181818;
    margin: auto;
}
body{
    margin: 0;
    background-color: #181818;
    font-family: 'Graphik';
    color:white;
}
.navbar{
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
}
.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 390px;
}
.menu_link{
    text-decoration: none;
    color: white;
    font-family: 'Graphik';
    font-weight: 500;
    font-size: 16px;
}
.nav_login{
    display: block;
    width: 139px;
    height: 52px;
    border: 1px solid white;
    text-decoration:none ;
    color: white;
    font-family: 'Graphik';
    line-height: 52px;
    text-align: center;
}
.mobile_button{
    display: none;
    margin-left: 25px;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
@media (max-width:830px){
    .nav_items{
        display: none;
    }
    .mobile_button{
        display: inline-block;
    }
} 

/*slogan*/
.slogancontainer{
    display: flex;
    flex-direction: column;
}
.slogan_h1{
    font-weight: 700;
    font-size: 80px;
    text-align: center;
}
.slogan_slogan_p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    max-width: 580px;
    margin: auto;
}
.slogan_btns{
    display: flex;
    margin-top: 95px;
    justify-content: center;
}
.slogan_btn{
    display: block;
    margin-right: 35px;
    width: 178px;
    color: #fff;
    text-decoration: none;
    height: 65px;
    background: #4452FE;
    text-align: center;
    line-height: 65px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
}
.slogan_btn_one{
    display: block;
    width: 178px;
    color: #fff;
    text-decoration: none;
    height: 65px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    line-height: 65px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
}
@media (max-width:830px){
    .slogan_btns{
        display:block;
        margin: auto;
        margin-top: 67px;
    }
    .slogan_btn{
        margin-right: 0px;
        margin-bottom: 21px;
    }
}
/*windows*/
.rotatedwindows > img{
    display: block;
    width: 100%;
}
/*standartblock settings*/
.standart_h1{
    text-align: center;
    font-size: 52px;
    font-weight: 500;
    text-align: center;

}
.standart_p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    max-width: 580px;
    margin: auto;
    margin-bottom: 44px;
}
/*contents*/
.contents_blocks{
    margin: auto;
    max-width: 985px;
    display: flex;
    padding: 40px 0px 0px 0px;
    justify-content: space-between;
    color: black;
}
.contents_block{
    background-color: #FFFFFF;
    width: 476px;
    height: 624.52px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
}
.contents_p{
    color:#5C5C5C;
    
    max-width: 268px;
    text-align: center;
    margin: auto;
}
.contents_p_s{
    color:#5C5C5C;
    text-align: center;
    margin: auto;

    max-width: 268px;

}
.contents_h2{
    text-align: center;
}
.center_block{
    margin: auto;
}
.contents_img{
    display: block;



}
.contents_img_second{
    display: block;

}
@media (max-width:960px){
    .contents_blocks{
        display: block;
        margin: auto;
    }
    .contents_block{
        margin: auto;
        margin-bottom: 33px;
        max-width: 268px;
    }
}